<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.inhatc.mvc.mapper.ProductMapper">
	<select id="selectProductList" resultType="hashmap">
		select product_id productId, product_name productName,
			unit_price unitPrice, description, manufacturer, category,
			product_img productImg, unit_stock unitStock,
			product_condition productCondition
		from product
	</select>
	
	<select id="productDetail" parameterType="String" resultType="hashmap">
		select product_id productId, product_name productName,
			unit_price unitPrice, description, manufacturer, category,
			product_img productImg, unit_stock unitStock,
			product_condition productCondition
		from product
		where product_id = #{value}
	</select>
	
	<insert id="addProduct">
		insert into product
		values(#{productId},#{productName},#{unitPrice},
		#{description},#{manufacturer},#{category},#{unitStock},#{productImg},#{productCondition})
	</insert>
	
</mapper>